/*-----------COMMON STYLES------------*/
html {
  font-size: 10px;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}

.wrapper {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 0.27px;
  padding: 2.2rem 7.4rem;
  border-radius: 4px;
  background-color: #aaa;
  text-transform: uppercase;
  margin: 6rem auto 0;
  -webkit-box-shadow: 0 6px #888;
  box-shadow: 0 6px #888;
}

.btn:hover {
  -webkit-box-shadow: 0 4px #888;
  box-shadow: 0 4px #888;
  top: 2px;
}

.btn:active {
  -webkit-box-shadow: 0 0 #888;
  box-shadow: 0 0 #888;
  top: 6px;
}

.page-section {
  padding: 12rem 0;
  text-align: center;
}

.section-heading {
  font-size: 4rem;
  letter-spacing: 4px;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
}

.section-heading:after {
  content: '';
  display: block;
  width: 9rem;
  height: 4px;
  background: rgba(0, 0, 0, 0.15);
  margin: 2rem auto;
}

.section-descr {
  font-size: 1.8rem;
}

/*---------------HEADER---------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 5rem;
  color: #fff;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__item {
  display: inline-block;
  margin-left: 5px;
}

.menu__link {
  display: inline-block;
  padding: .7rem 2rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 5px;
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}

.menu__link:hover {
  background-color: #643a79;
}

.menu__toggle {
  display: none;
  width: 20px;
  height: 16px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.toggle__item {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.toggle__item:not(.toggle__item_4) {
  margin-bottom: 5px;
}

.toggle__item_2 {
  position: absolute;
  top: 7px;
}

.menu__toggle_active .toggle__item_1,
.menu__toggle_active .toggle__item_4 {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.menu__toggle_active .toggle__item_2 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu__toggle_active .toggle__item_3 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*----------------HERO----------------*/
.hero {
  padding: 24rem 0 14.5rem;
  background-color: #87509c;
  color: #fff;
  text-align: center;
}

.hero__text {
  margin: 0 auto;
  text-align: center;
  font-size: 4.2rem;
  line-height: 1.1;
}

.btn_orange {
  background-color: #eb7d4b;
  -webkit-box-shadow: 0 6px #c86a40;
  box-shadow: 0 6px #c86a40;
}

.btn_orange:hover {
  -webkit-box-shadow: 0 4px #c86a40;
  box-shadow: 0 4px #c86a40;
}

.btn_orange:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*--------------SERVICES--------------*/
.services {
  background-color: #17c2a4;
  color: #fff;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.services__service {
  padding: 0 3%;
  width: 25%;
  margin-top: 5rem;
}

.service__icon {
  max-width: 100%;
  margin-left: 10%;
  height: 130px;
  text-align: right;
}

.service__heading {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  margin: 2.5rem 0;
}

/*----------------TEAM----------------*/
.team {
  background-color: #e7f1f8;
  color: #3c4761;
  padding-bottom: 6rem;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 7.5rem;
}

.team__member {
  padding: 0 3%;
  width: 25%;
  margin-bottom: 5rem;
}

.member__pic {
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #878787;
  margin: 0 auto 4rem;
}

.member__img {
  max-width: 100%;
}

.member__heading {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.member__role {
  display: block;
  margin-bottom: 1.5rem;
  color: #30bae7;
  font-size: 1.6rem;
}

.social__list {
  margin: 3rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 170px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social__icon {
  display: inline-block;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: #bdd1df url(../img/social-sprite.png) no-repeat;
  background-position: -1px -1px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.social__icon:hover {
  opacity: .5;
}

.social__icon_2 {
  background-position: -100px -1px;
}

.social__icon_3 {
  background-position: -34px -1px;
}

.social__icon_4 {
  background-position: -67px -1px;
}

/*----------------SKILLS--------------*/
.skills {
  color: #3c4761;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.skills__skill {
  width: 25%;
  margin-top: 5rem;
}

.skill__diagram {
  max-width: 100%;
}

.skill__heading {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-top: 3rem;
  letter-spacing: 0.48px;
}

/*--------------PORTFOLIO-------------*/
.portfolio {
  background-color: #ffdd99;
  color: #393939;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 380px;
  width: 85%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 4rem auto 0;
}

.tabs__tab {
  font-size: 1.8rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.15);
  padding: .5rem 2rem;
  border-radius: 4px;
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
  cursor: pointer;
}

.tabs__tab:hover {
  background-color: #fff;
}

.tabs__tab_active {
  background-color: #fff;
}

.tabs__radio {
  display: none;
}

.tabs__radio_1:checked ~ .portfolio__list > .portfolio__item {
  display: block;
}

.tabs__radio_2:checked ~ .portfolio__list > .portfolio__item_web {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  display: block;
}

.tabs__radio_3:checked ~ .portfolio__list > .portfolio__item_icons {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  display: block;
}

.tabs__radio_4:checked ~ .portfolio__list > .portfolio__item_apps {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  display: block;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 3rem;
  max-height: 830px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .portfolio__list {
    max-height: 590px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__list {
    max-height: 510px;
  }
}

.portfolio__item {
  width: 50%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  display: none;
}

.portfolio__list_expanded {
  max-height: none;
}

.portfolio__pic {
  margin: 5rem 0 0;
}

.portfolio__img {
  max-width: 100%;
}

.portfolio__text {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 2rem 0 0;
}

.btn_green {
  margin-top: 8rem;
  background-color: #17c2a4;
  -webkit-box-shadow: 0 6px #14a58c;
  box-shadow: 0 6px #14a58c;
}

.btn_green:hover {
  -webkit-box-shadow: 0 4px #14a58c;
  box-shadow: 0 4px #14a58c;
}

.btn_green:active {
  -webkit-box-shadow: 0 0 #14a58c;
  box-shadow: 0 0 #14a58c;
}

/*--------------COMMENTS--------------*/
.comments {
  background-color: #d74680;
  color: #fff;
}

.comments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.comments__comment {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  padding: 0 3%;
}

.comment__img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
}

.comment__text {
  text-align: left;
  padding-left: 8%;
}

.comment__quote {
  font-size: 2.1rem;
  font-style: italic;
  margin: 0 0 3rem;
}

.comment__author {
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.48px;
  line-height: 1;
  font-style: normal;
  font-weight: 700;
}

.comment__role {
  font-size: 1.8rem;
  color: #ffdd99;
  display: block;
  margin-top: 1rem;
}

/*---------------CONTACT--------------*/
.contact {
  background-color: #3c5499;
  color: #fff;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto;
  padding: 3%;
}

.form__name,
.form__email,
.form__textarea {
  border: 2px solid #273a71;
  background-color: #273a71;
  padding: 1.9rem 2.5rem;
  border-radius: 4px;
  width: 48%;
  margin-top: 7rem;
  color: #fff;
  outline: none;
}

.form__name:focus,
.form__email:focus,
.form__textarea:focus {
  border: 2px solid #299ec5;
}

.form__name::-webkit-input-placeholder,
.form__email::-webkit-input-placeholder,
.form__textarea::-webkit-input-placeholder {
  color: #ccc;
  font-size: 1.5rem;
}

.form__name:-ms-input-placeholder,
.form__email:-ms-input-placeholder,
.form__textarea:-ms-input-placeholder {
  color: #ccc;
  font-size: 1.5rem;
}

.form__name::-ms-input-placeholder,
.form__email::-ms-input-placeholder,
.form__textarea::-ms-input-placeholder {
  color: #ccc;
  font-size: 1.5rem;
}

.form__name::placeholder,
.form__email::placeholder,
.form__textarea::placeholder {
  color: #ccc;
  font-size: 1.5rem;
}

.form__textarea {
  width: 100%;
  height: 20rem;
  margin-top: 2.5rem;
}

.form__btn {
  border: none;
  outline: none;
}

.btn_blue {
  background-color: #30bae7;
  -webkit-box-shadow: 0 6px #299ec5;
  box-shadow: 0 6px #299ec5;
}

.btn_blue:hover {
  -webkit-box-shadow: 0 4px #299ec5;
  box-shadow: 0 4px #299ec5;
}

.btn_blue:active {
  -webkit-box-shadow: 0 0 #299ec5;
  box-shadow: 0 0 #299ec5;
}

/*---------------FOOTER---------------*/
.footer {
  padding: 4rem 0;
  background-color: #344b8e;
  color: #fff;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 2.4rem;
}

.footer__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 2%;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
  text-align: center;
}

.footer__item:hover {
  color: #30bae7;
}
