// TODO: POPUP FOR CONTACT FORM
// TODO: SMOOTH LOAD MORE PORTFOLIO
/*-----------COMMON STYLES------------*/
html {
  font-size: 10px;
}
body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}
.wrapper {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 0.27px;
  padding: 2.2rem 7.4rem;
  border-radius: 4px;
  background-color: #aaa;
  text-transform: uppercase;
  margin: 6rem auto 0;
  box-shadow: 0 6px #888;
  &:hover {
    box-shadow: 0 4px #888;
  	top: 2px;
  }
  &:active {
    box-shadow: 0 0 #888;
	  top: 6px;
  }
}
.page-section {
  padding: 12rem 0;
  text-align: center;
}
.section-heading {
  font-size: 4rem;
  letter-spacing: 4px;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 9rem;
    height: 4px;
    background: rgba(0,0,0,.15);
    margin: 2rem auto;
  }
}
.section-descr {
  font-size: 1.8rem;
}
/*---------------HEADER---------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 5rem;
  color: #fff;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  display: inline-block;
  margin-left: 5px;
}
.menu__link {
  display: inline-block;
  padding: .7rem 2rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 5px;
  transition: background-color .2s;
  &:hover {
      background-color: #643a79;
  }
}
.menu__toggle {
  display: none;
  width: 20px;
  height: 16px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.toggle__item {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform .3s;
}
.toggle__item:not(.toggle__item_4) {
  margin-bottom: 5px;
}
.toggle__item_2 {
  position: absolute;
  top: 7px;
}
.menu__toggle_active {
  .toggle__item_1,
  .toggle__item_4 {
    transform: scale(0);
  }
  .toggle__item_2 {
    transform: rotate(45deg);
  }
  .toggle__item_3 {
    transform: rotate(-45deg);
  }
}
/*----------------HERO----------------*/
.hero {
  padding: 24rem 0 14.5rem;
  background-color: #87509c;
  color: #fff;
  text-align: center;
}
.hero__text {
  margin: 0 auto;
  text-align: center;
  font-size: 4.2rem;
  line-height: 1.1;
}
.btn_orange {
  background-color: #eb7d4b;
  box-shadow: 0 6px #c86a40;
  &:hover {
    box-shadow: 0 4px #c86a40;
  }
  &:active {
    box-shadow: none;
  }
}
/*--------------SERVICES--------------*/
.services {
  background-color: #17c2a4;
  color: #fff;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.services__service {
  padding: 0 3%;
  width: 25%;
  margin-top: 5rem;
}
.service__icon {
  max-width: 100%;
  margin-left: 10%;
  height: 130px;
  text-align: right;
}
.service__heading {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  margin: 2.5rem 0;
}
/*----------------TEAM----------------*/
.team {
  background-color: #e7f1f8;
  color: #3c4761;
  padding-bottom: 6rem;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7.5rem;
}
.team__member {
  padding: 0 3%;
  width: 25%;
  margin-bottom: 5rem;
}
.member__pic {
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #878787;
  margin: 0 auto 4rem;
}
.member__img {
  max-width: 100%;
}
.member__heading {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}
.member__role {
  display: block;
  margin-bottom: 1.5rem;
  color: #30bae7;
  font-size: 1.6rem;
}
.social__list {
  margin: 3rem auto 0;
  display: flex;
  max-width: 170px;
  justify-content: space-between;
}
.social__icon {
  display: inline-block;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: #bdd1df url(../img/social-sprite.png) no-repeat;
  background-position: -1px -1px;
  transition: opacity .2s;
  &:hover {
    opacity: .5;
  }
}
.social__icon_2 {
  background-position: -100px -1px;
}
.social__icon_3 {
  background-position: -34px -1px;
}
.social__icon_4 {
  background-position: -67px -1px;
}
/*----------------SKILLS--------------*/
.skills {
  color: #3c4761;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.skills__skill {
  width: 25%;
  margin-top: 5rem;
}
.skill__diagram {
  max-width: 100%;
}
.skill__heading {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-top: 3rem;
  letter-spacing: 0.48px;
}
/*--------------PORTFOLIO-------------*/
.portfolio {
  background-color: #ffdd99;
  color: #393939;
}
.tabs {
  display: flex;
  max-width: 380px;
  width: 85%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 4rem auto 0;
}
.tabs__tab {
  font-size: 1.8rem;
  text-transform: uppercase;
  background-color: rgba(0,0,0,.15);
  padding: .5rem 2rem;
  border-radius: 4px;
  transition: background-color .2s;
  cursor: pointer;
  &:hover {
    background-color: #fff;
  }
}
.tabs__tab_active {
  background-color: #fff;
}
.tabs__radio {
  display: none;
}
.tabs__radio_1:checked ~ .portfolio__list > .portfolio__item {
  display: block;
}
.tabs__radio_2:checked ~ .portfolio__list > .portfolio__item_web {
  order: 1;
  display: block;
}
.tabs__radio_3:checked ~ .portfolio__list > .portfolio__item_icons {
  order: 1;
  display: block;
}
.tabs__radio_4:checked ~ .portfolio__list > .portfolio__item_apps {
  order: 1;
  display: block;
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  max-height: 830px;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    max-height: 590px;
  }
  @media screen and (max-width: 320px) {
    max-height: 510px;
  }
}
.portfolio__item {
  width: 50%;
  order: 2;
  display: none;
}
.portfolio__list_expanded {
  max-height: none;
}
.portfolio__pic {
  margin: 5rem 0 0;
}
.portfolio__img {
  max-width: 100%;
}
.portfolio__text {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 2rem 0 0;
}
.btn_green {
  margin-top: 8rem;
  background-color: #17c2a4;
  box-shadow: 0 6px #14a58c;
  &:hover {
    box-shadow: 0 4px #14a58c;
  }
  &:active {
    box-shadow: 0 0 #14a58c;
  }
}
/*--------------COMMENTS--------------*/
.comments {
  background-color: #d74680;
  color: #fff;
}
.comments__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.comments__comment {
  width: 50%;
  display: flex;
  margin-top: 5rem;
  padding: 0 3%;
}
.comment__img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
}
.comment__text {
  text-align: left;
  padding-left: 8%;
}
.comment__quote {
  font-size: 2.1rem;
  font-style: italic;
  margin: 0 0 3rem;
}
.comment__author {
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.48px;
  line-height: 1;
  font-style: normal;
  font-weight: 700;
}
.comment__role {
  font-size: 1.8rem;
  color: #ffdd99;
  display: block;
  margin-top: 1rem;
}
/*---------------CONTACT--------------*/
.contact {
  background-color: #3c5499;
  color: #fff;
}
.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto;
  padding: 3%;
}
.form__name,
.form__email,
.form__textarea {
  border: 2px solid #273a71;
  background-color: #273a71;
  padding: 1.9rem 2.5rem;
  border-radius: 4px;
  width: 48%;
  margin-top: 7rem;
  color: #fff;
  outline: none;
}
.form__name:focus,
.form__email:focus,
.form__textarea:focus {
  border: 2px solid #299ec5;
}
.form__name::placeholder,
.form__email::placeholder,
.form__textarea::placeholder {
  color: #ccc;
  font-size: 1.5rem;
}
.form__textarea {
  width: 100%;
  height: 20rem;
  margin-top: 2.5rem;
}
.form__btn {
  border: none;
  outline: none;
}
.btn_blue {
  background-color: #30bae7;
  box-shadow: 0 6px #299ec5;
  &:hover {
    box-shadow: 0 4px #299ec5;
  }
  &:active {
    box-shadow: 0 0 #299ec5;
  }
}
/*---------------FOOTER---------------*/
.footer {
  padding: 4rem 0;
  background-color: #344b8e;
  color: #fff;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  font-size: 2.4rem;
}
.footer__item {
  flex: 1;
  padding: 0 2%;
  transition: color .2s;
  text-align: center;
  &:hover {
    color: #30bae7;
  }
}
